* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #242629;
}

.header {
  top: 0;
  background-color: #292c2f;
  width: 100%;
  min-height: 90px;
  color: white;
  text-align: center;
}
.header-item {
  position: relative;
}
.header-item h1 {
  padding-top: 10px;
  font-size: 21px;
  cursor: pointer;
}
.nav-bar img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
  cursor: pointer;
}
.nav-bar-2 {
  visibility: hidden;
  position: absolute;
  right: 0;
}
.nav-bar-2 ul {
  list-style-type: none;
  margin: 34px 10px 10px 0px;
}
.nav-bar-2 li {
  display: inline-block;
  margin-right: 15px;
}
.nav-bar-2 li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.w-100 {
  height: 100%;
  max-height: 700px;
  object-fit: fill;
}
.container {
  max-width: 100% !important;
  background-color: #242629;
}
.col-4 {
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin: 0;
  flex: 0 0 100% !important;
  max-width: 100% !important;
  background-color: white;
  cursor: pointer;
}
.col-4:hover {
  border: 5px black inset;
}
.entry-media img {
  width: 100%;
}
.entry-content {
  line-height: 1.75;
  padding: 2.62rem 4% 2.62rem;
  text-align: center;
}
.entry-content h2 {
  color: #1a1c1e;
  font-weight: 700;
  text-align: center;
  font-size: 1rem;
}
.entry-content p {
  margin: 0;
  padding: 0 0 1.5em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  color: #6a6c6e;
  text-align: left;
}

.button {
  visibility: hidden;
  background-color: #e7ae01;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  border: none;
  padding: 3px 12px;
}
.footer {
  background-color: #292c2f;
  color: #6a6c6e;
}
.footer-container {
  background-color: #292c2f;
}
.footer-container .row {
  padding: 150px;
}
.col-3 {
  background-color: #292c2f;
  margin: 0 0 60px;
  padding: 0 30px;
  width: 24.5%;
  flex: 0 0 100% !important;
  max-width: 100% !important;
}
.col-3 h3 {
  font-size: 1.6rem;
  letter-spacing: 0.1em;
  margin: 0 0 1.62em;
  text-align: left;
  text-transform: uppercase;
}

.col-3 ul {
  list-style-type: none;
}
.col-3 li {
  border-bottom: 1px solid #363b40;

  padding: 8px 0;
}
.col-3 li:hover {
  cursor: pointer;
  text-decoration: underline;
}
.col-3 li:first-child {
  border-top: 1px solid #363b40;
}
.col-3 span {
  border: 1px solid grey;
  padding: 4px 10px 5px;
  margin: 4px 4px 0 0;
  line-height: 40px;
}
.col-3 span:hover {
  background-color: #242629;
  cursor: pointer;
}
.copyright {
  background-color: #242629;
  color: #6a6c6e;
  text-align: center;
  padding: 15px 0px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

@media only screen and (min-width: 400px) {
  .header-item h1 {
    position: absolute;
    top: 20px;
    left: 50px;
  }
  .nav-bar {
    position: absolute;
    top: 15px;
    right: 27px;
  }
}

@media only screen and (min-width: 680px) {
  .entry-media {
    float: left;
    max-width: 49%;
  }
  .entry-media img {
    height: 100%;
  }

  .entry-content {
    float: left;
    max-width: 49%;
    padding-top: 3%;
    padding-bottom: 0px;
  }
  .entry-content p {
    height: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .col-3 {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
}

@media only screen and (min-width: 815px) {
  .entry-content {
    padding-top: 5%;
  }
  .button {
    visibility: visible;
  }
}

@media only screen and (min-width: 960px) {
  .nav-bar-2 {
    visibility: visible;
  }
  .nav-bar {
    visibility: hidden;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .entry-media img {
    height: 100%;
    min-height: 401px;
    object-fit: cover;
  }
  .entry-content {
    min-height: 401px;
    padding-top: 15%;
  }
  .col-4 {
    flex: 0 0 33.333333% !important;
    max-width: 33.333333% !important;
  }
  .col-3 {
    flex: 0 0 25% !important;
    max-width: 25% !important;
  }
}
@media only screen and (min-width: 1400px) {
  .header {
    position: sticky;
    z-index: 1;
    opacity: 1;
  }
}
